NODE_ENV=development
PORT=3000

DB_HOST=
DB_PORT=1433
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true

AUTH_MODE=dev
JWT_SECRET=
JWT_EXPIRES_IN=12h

APP_BASE_URL=http://localhost:3000

PASSWORD_RESET_TOKEN_TTL_MINUTES=60
EMAIL_RETURN_TOKEN_IN_RESPONSE=false

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

FIREBASE_SERVICE_ACCOUNT_JSON=
